.img-card {
  box-sizing: border-box;
  margin: 2px;
  width: 150px;
  overflow: hidden;
}
.img-card .avatar-card {
 
  text-align: center;



  border-radius: 3px;

}
.img-card .avatar-card .avatar {
  width: 125px;
  height: 125px;
  overflow: hidden !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  color: #242729;
}
.img-card .avatar-card .avatar .avatar-link .logo-wrapper {
  border-radius: 3px;
  width: 164px;
  height: 164px;
}
.img-card .avatar-card .avatar .avatar-link .logo-wrapper img {
  width: 164px;
  height: 164px;
  border-radius: 3px;
}
.img-card .avatar-card .title {
  font-weight: 400;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.img-card .avatar-card .title .grid {
  color: #0c0d0e;
  font-size: 21px;
  display: flex;
  margin: -4px;
  justify-content: center !important;
  align-items: center !important;
}
.img-card .avatar-card .title .grid span {
  color: #6a737c;
  font-size: 11px;
}
