.accept {
	font-size: 14px;
	color: hsl(210, 16%, 7%);
	background-color: hsl(205, 46%, 92%);
	border-color: transparent;
	display: inline-block;
	padding: 0.4em 0.5em;
	margin: 2px 2px 2px 0;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	margin-left: 10px;
	float: right;
}
.reject {
	font-size: 14px;
	color: hsl(210, 16%, 7%);
	background-color: hsl(205, 46%, 92%);
	border-color: transparent;
	display: inline-block;
	padding: 0.4em 0.5em;
	margin: 2px 2px 2px 0;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	margin-left: 10px;
	float: right;
}
